@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*-------------------------------- General Reset ---------------------------------*/

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-image: url('bg.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

body, h1, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


section {
    min-height: 100vh;
  }

  .home-section, .about-section, .product-section, .contact-section, .end-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* --------------------------------Home Screen --------------------*/

.home-section{
  color: #fff;
  min-height: 100vh;
}

.navcontainer{
  background-color: transparent;
  padding-top: 20px;
  left: 50px;
  padding-bottom: 20px;
  padding-left: 40px;
}


.navbar {
  position: fixed;
  justify-content: left;
  align-items:normal;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 40px;
  background-color: transparent;
}


.navbar .logo {
    display: flex;
    align-items: center;
  }
.navbar .logo-img {
    margin-left: 50px;
    width: 8%;
    height: 120px;
  }
.navbar .logo span {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #a49849;
}


.navbar .logo span p{
  font-size: 0.5em;
  }

.navbar .menu a {
    margin: 0 20px;
    font-size: 1.4em;
    font-style: 'Jura';
    text-decoration: none;
    background: radial-gradient(circle,#DBCC99, #d59835);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
  }

.navbar .menu a:hover {
    color: #ffffff;
  }

.navbar .menu a.active{
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4em;
  }

/* -----------------------------------Hero Section -----------------------------*/


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-section {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out;
  padding: 10px 20px;
  min-height: 100vh;
}

.hero-content {
  max-width: 50%;
}
/*----------------------loog----------------------*/

.modal {
  display: flex; /* Use flexbox to center the modal */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  max-width: 950px;
  width: 100%;
}

.modal-content .close{
  left: 200px;
  margin-left: 500px;
  cursor: pointer;
}

.container{
    backdrop-filter: blur(25px);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(117, 114, 114, 0.603);
    position: relative;
    overflow: hidden;
    width: 808px;
    left: 100px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background: transparent;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-bottom: 2px solid #767272;
    border-right: 2px solid #767272;
    border-top: none;
    border-left: none;
    border-radius:10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container .hidden:hover{
  background: white;
  color: black;
  transform-box: 10px
}


.container button:hover{
    background: linear-gradient(#0a0a0a, #767272);
}

.container form{
    backdrop-filter: blur(45px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: transparent;
    border-bottom: 5 solid;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 8px 0;
    padding: 10px 15px;
    color: #fff;
    font-weight: 100;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.container a{
    color: #ccc;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    color: #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    height: 100%;
    background: linear-gradient(#533b15, #eaad4b);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}


.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-right button {
  background-color: #fff;
  color: #333;
  position: absolute;
  display: flex;
  top: 280px;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  padding: 10px 45px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.toggle-left button {
  background-color: #fff;
  color: #333;
  position: absolute;
  display: flex;
  top: 280px;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  padding: 10px 45px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}


/*----------------------entry page----------------------*/


.hero-content h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 150px;
  color: #DBCC99;
  margin-left: 50px;
  line-height: 1.2;
}

.hero-content h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #DBCC99;
  margin-left: 55px;
  line-height: 1.2;
  opacity: 0;
  animation: fadeIn 3s 2s ease-in-out forwards ;
}

.hero-content p {
  font-size: 1.7rem;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0;
  animation: fadeIn 3s 3s ease-in-out forwards;
}

.hero-content span {
  font-size: 1.0em;
  letter-spacing: 2px;
  border-right: 5px solid;
  display: inline-block;
  background: linear-gradient( #DBCC99, #d59835);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  letter-spacing: .15em;
  animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/*----------------About Section_----------------------- */

.about-section{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Remove or reduce margin */
  padding-bottom: 0;
}

.about-section p{
  color: #cac9c9;
  min-height: 10vh;
  font-size: 1.1em;
  text-shadow: #767272;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 20px;
  text-align: center;
}

.about-container{
  max-height: 100vh;
}
.about-section h1{
  color: #cac9c9;
}

.aboutus, .mission, .vision, .values {
  position: absolute;
  color: white;
  border-radius: 30px 50px; 
}

.values {
  top: 100px;
  left: -500px;
  width: 350px;
  height: 270px;
  border-radius: 20px;
  padding: 20px;
  z-index: 3;

}

.mission {
  top: -30px;
  left: -310px;
  width: 350px;
  height: 270px;
  border-radius: 20px;
  padding: 20px;
  z-index: 4;
}

.vision {
  top: -150px;
  left: -120px;
  width: 350px;
  height: 270px;
  border-radius: 50%;
  padding: 20px;
  z-index: 3;
}

.aboutus {
  top: -750px;
  width: 600px;
  height: 350px;
  border-radius: 40px 20px;
  left: 400px;
  padding: 40px;
  z-index: 4;
}

.card {
  perspective: 1000px;
  background-color: transparent;
  position: relative;
  border-radius: 30px;
  margin: auto;
}

.card-values{
  background-color: #DBCC99;
  border-radius: 30px;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient( #5f513845, #83550b6c);
  text-align: center;
  border-radius: 30px;
  border-right: #333 solid 4px;
  border-bottom: #333 solid 4px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  color: white;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-back {
  transform: rotateY(180deg);
}


/*--------------------------------------Products Section --------------------------------*/






.product-section {
  color: #fff;
  min-height: 100vh;
  margin-top: 0; /* Reduce top margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  width: 1071px;
  height: 450px;
  top: 40px;
  border-radius: 25px;
  backdrop-filter: blur(105px);
  position: relative;
  padding: 50px;
  text-align: center;
}

.product-container h1 {
  background: linear-gradient( #DBCC99, #d59835);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.9em;
  margin-bottom: 30px;
}

.align{
  margin-top: -50px;
  width: 100%;
}


@keyframes slideImages {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }


}

.slider-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  gap: 15px;
}


.slider-images img {
  width: 250px;
  height: auto;
  border-radius: 20px;
  transition: transform 03s ease-in-out;
}

#slider-image {
  transform: scale(1.2);
  border-radius: 20px; /* Highlight the central image */
}

.image-slider {
  position: relative;
  display: flex;
  padding-top: 70px;
  align-items: center;
  justify-content: center;
}


.image-container {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out, z-index 0.5s;
  position: absolute;
  width: 300px;
  height: 200px;
}

.image-container img{
  width: 70%;
  height: 90%;
  gap: 10px;
  margin-left: 40px;
  margin-right: 50px;
  border-radius: 20px;
}


.layer {
  position: absolute;
  top: -10px;
  width: 227px;
  left: 32px;
  height: 195px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #DBCC99);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.8s;
  z-index: 2;
}

.layer h2 {
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.layer i {
  margin-top: 20px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.image-container:hover .layer {
  opacity: 1;
  z-index: 3;
}

.image-container:hover img {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.slider-btn {
  background-color: #DBCC99;
  color: #000;
}

.slider-btn:hover {
  background-color: #DBCC99;
  color: #000;
}

.slider-btn:active {
  transform: translateY(-50%) scale(0.95);
}


.arogya{
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.right h2{
  padding-top: 20px;
  margin-top: -50px;
  font-style: italic;
  text-align: center;
  font-size: 2.1em;
  color: #DBCC99;
  font-family: Inknut Antiqua;
}

.right p{
  padding-left: 20px;
  text-align: left;
  font-size: 1.3em;
}

.popup-content .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
  z-index: 10;
}

.popup-content .left-btn {
  left: 10px;
}

.popup-content .right-btn {
  right: 10px;
}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-content {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  width: 60%;
  max-width: 600px;
  text-align: center;
  position: relative;
  animation: slideIn 0.4s ease-out;
  color: #fff;
}


.popup-content img {
  position: relative;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  z-index: 1;
}

.popup-content img::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 15px;
  border: 2px solid transparent;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(213, 152, 53, 0.8), rgba(255, 255, 255, 0.8));
  background-size: 200% 200%;
  animation: moveBorder 3s linear infinite;
  z-index: 2;
  pointer-events: none;
}

@keyframes moveBorder {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}


.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.close-btn:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #d59835;
}

.popup-content h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin: 15px 0 10px;
}

.popup-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ddd;
  line-height: 1.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .popup-content, .modal-content {
    width: 90%;
  }
}







/*-------------Contact Us ----------------------*/





.contact-section {
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .contact-container {
    width: 1071px;
    height: 450px;
    top: 40px;
    border-radius: 25px;
    background: transparent;
    border-color: #d59835;
    border-style: solid;
    border-width: 5px;
    border-left: none;
    border-top: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    padding: 50px;
    text-align: center;
  }

.contact-container h1{
  color: #DBCC99;
  font-size: 2.9em;
  padding-bottom: 10px;
}

.contact-container p{
  font-size: 1.1em;
  color: #000;
}

.contact-container p span{
  font-size: 1.3em;
  color: #CFCFCFE8;
}

.arrange{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 60px;
}


.left p{
  font-size: 1.2em;
  text-align: center;
}

.left input{
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}
.left textarea{
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #000;
  font-size: 16px;
}

.left textarea :placeholder-shown{
   color: #000;
}

.left a{
  color: #DBCC99;
}

.left button{
  padding: 20px;
  border-radius: 20px;
  border-style: none;
  background: linear-gradient(#DBCC99, #d59835);
}
.left button:hover{
  background: linear-gradient(#d59835, #DBCC99);
}

.right-container{
  background: #CFCFCFE8;
  border-radius: 40px;
  width: 450px;
  padding: 40px;
}

.right-container p{
  padding: 15px;
}


/*--------------------------end page--------------------------*/


.end-section {
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-container {
  width: 1580px;
  height: 220px;
  bottom: -200px;
  backdrop-filter: blur(45px);
  background: rgba(112, 112, 112, 0.285); /* Semi-transparent */
  position: relative;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-right: 50px;
  text-align: center;
}

.sort{
  display: flex;
  gap: 200px;
  padding: 40px;
}

.first img{
  height: 150px;
  margin-left: -20px;
  width: 150px;
  margin-top: -20px;
}

.second{
  margin-top: -60px;
  margin-left: -100px;
  text-align: center;
  padding: 40px;
}
.second h1{
  font-size: 1.7em;
  padding-bottom: 20px;
  text-align: center;
}
.second p{
   font-size: .8em;
   padding-bottom: 20px;
   text-align: center;
   margin-left: 20px;
   color: #000;
}

.second input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 10px;
}

.second button{
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  border-style: none;
  background: linear-gradient(#DBCC99, #d59835);
}

.third h1{
  margin-top: -24px;
  text-align: left;
  font-size: 1.7em;
  padding-bottom: 20px;
  margin-left: -20px;
}

.third a{
  display:grid;
  color: #DBCC99;
  padding-bottom: 20px;
  font-size: 1.3em;
  text-align: left;
  background-color: transparent;
  text-decoration: none;
  margin-left: -20px;
}

.third .product-link{
  font-size: 30px;
  margin-right: 15px;
  color: #d59835;
  transition: all 0.3s ease;
}

.third .product-link:hover{
  color: #d59835;
  transform: scale(1.2);
  text-decoration: none;
  filter: drop-shadow(0 0 6px #000);
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05) rotate(0.5deg);
}

.fourth h1{
  margin-top: -22px;
  font-size: 1.7em;
}

.fourth a {
  font-size: 25px;
  display: grid;
  color: #DBCC99;
  text-decoration: none;
  padding: 5px;
}

.fourth .social-icon {
  font-size: 30px;
  margin-right: 15px;
  color: #d59835;
  transition: all 0.3s ease;
}

.fourth .social-icon:hover {
  color: #d59835;
  transform: scale(1.2);
  text-decoration: none;
}

.fourth .social-icon:hover {
  filter: drop-shadow(0 0 8px #d59835); /* Glow effect */  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.fourth .social-icon:hover {
  transform: scale(1.2) rotate(-15deg);
}